<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
  
  <div class="card bg-dark text-white">
    <div class="card-header">Muro de post</div>
    <div class="card-body">
  
      <form #clienteForm="ngForm">
        <div class="form-group row">
          <label for="contenido" class="col-form-label">Publica aquí</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="contenido.nombre" name="contenido" #contenido="ngModel"> <!-- required minlength="4" -->
            <div class="alert alert-danger" *ngIf="contenido.invalid && (contenido.dirty || contenido.touched)">
              <div *ngIf="contenido.errors.required">
                contenido es requerido
              </div>
              <div *ngIf="contenido.errors.minlength">
                Nombre debe tener al menos 4 caracteres
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!contenido.id else elseBlock">Crear</button>
          </div>
        </div>
      </form>
  
    </div>
  </div>
  