<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="">
</head>

<body>


    <!--IF YOU WANT YOU CAN REMOVE THIS MAIN_CONTAINER JUST PASTE THE CARD SECTION AND IT WILL WORK FINE -->

    <div class="main_container">

        <!--IF YOU WANT YOU CAN REMOVE THIS MAIN_CONTAINER JUST PASTE THE CARD SECTION AND IT WILL WORK FINE -->

        <div class="card_container">


            <div class="card_section">


                <div class="card">
                    <a href="">
                        <div class="card_image"><img src="" alt=""></div>
                        <div class="card_panel">
                            <div class="card_main_title">
                                <h2></h2>
                            </div>
                            <div class="card_para">
                                <p></p>
                            </div>
                            <div class="tags_section">

                            </div>
                            <div class="card_readmore"><span></span></div>
                        </div>
                    </a>
                </div>


                <div class="card">
                    <a href="">
                        <div class="card_image"><img src="" alt=""></div>
                        <div class="card_panel">
                            <div class="card_main_title">
                                <h2></h2>
                            </div>
                            <div class="card_para">
                                <p></p>
                            </div>
                            <div class="tags_section">

                            </div>
                            <div class="card_readmore"><span></span></div>
                        </div>
                    </a>
                </div>


            </div>


        </div>


    </div>


</body>

</html>