/* You can add global styles to this file, and also import other style files */
html{
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.wrap{
  padding-bottom: 60px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
